

body { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 5px;
  height: 100vh;
  margin: 10px;  
}

header {
	background-image:linear-gradient(rgb(206, 197, 155),rgb(131, 113, 133));
	grid-area: header;
	text-align: center;
	text-decoration: underline;
	color: #f8f8ef;
	font-weight: bold;
}

nav {
	background: #C9BFBF;
	grid-area: nav; 
}

li{
	list-style: none;
	padding-top: 30px;
	display: block;
}

 li:hover{
	color: orange;
	
}

a:link, a:visited {
	background-color: white;
	color: black;
	border: 2px solid black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
  a:hover, a:active {
	background-color: black;
	border: 2px solid black;
	color: orangered;
  }

section {
	
	grid-area: section;  
	background-image:linear-gradient(rgb(201, 188, 15),rgb(226, 48, 57),rgb(208, 83, 219));  
}

  .gallery {
	border: 3px solid rgb(252, 251, 249);
	max-width: 1000px;
	margin: auto;

	
  }
  
  .gallery {
	padding: 1px;
	font-size: 0;
	flex-flow: row wrap;
	display: flex;
  }
  
  .gallery div {
	flex: auto;
	width: 100px;
	margin: 0.5vw;
  }

  .gallery img{
	border-radius: 20px;
	width: 100%;
  }
  
  img:hover {
	filter: grayscale(0);
	filter: saturate(1.5);
	box-shadow: 10px 10px 10px;
  }

  .flex-row {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	flex-flow: row wrap;
}
.flex-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.card {
	background-color: purple;
	display: inline-block;
	max-width: 200px;
	min-width: 150px;
	min-height: 200px;
	content: "";
	margin:5px;
	flex: 0 0 25%;
	border-radius: 20px;
}
.card:hover {
	filter: grayscale(0);
	filter: saturate(1.5);
	box-shadow: 10px 10px 10px black;
}
.card:active {
	filter: blur(0.05rem);
	-ms-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.card:last-child {
	margin-right: none;
	background-color: purple;
	background-size: cover;
	background-position: center center;
}
.card:first-child {
	margin-left: none;
	background-color: white;
}

.flex-row img{
	width: 100%;
	
}

aside {
	background: #C9C9C9;
	grid-area: aside; 
}

footer {
	
	grid-area: footer;
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: #a36609d3;
	color: #fff;
	}

header, nav, section, aside, footer {
	padding: 5px;
}
